.overview{
    text-align: center;
}
.overview-div{
    padding: 10.01px;
}
.text-head{
    text-align: center;
    padding: 10.0px;
}
.section-paragraph{
    text-align: center;
    padding: 1.0px;
    
}